@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  background-color: #F8F9FB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
}

@layer components {
  .card {
    @apply rounded-2xl;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
  }
}